{% extends "layout.html" %}

{% block addlContent %}
  <h2 id="gallery">Gallery</h2>
  <p>
    There are currently {{ count(glob("media/screencaps/*.*")) }} images for 
    <a href="index.php">this episode</a>.
  </p>
  <div class="gallery">
    {% set gallery = glob("media/screencaps/thumbs/*.*") %}

    {% for img in gallery %}
      <a href="media/screencaps/{{ img|regexReplace('/^.*[\\/]/','') }}" target="_blank">
        <img 
          src="{{ img }}" 
          alt="{{ 
            img|replace({'_': ' '})|regexReplace('/^.*[\\/]/','')[7:]|replace({'.png': '', '.jpg': '', 'COLON': ':'}) 
          }}"
        />
      </a>
    {% endfor %}
  </div>

  <div id="galleryselection" class="galleryselection invisible">
    <figure>
      <img src="" alt="">
      <figcaption></figcaption>
    </figure>
    <button class="close" onclick="closeGallerySelection(click);" aria-label="Close">X</button>
    <div class="galleryscroll left" onclick="scrollThroughImages('left')"><img src="/superman-left.png"></div>
    <div class="galleryscroll right" onclick="scrollThroughImages('right')"><img src="/superman-right.png"></div>
  </div>
  {{ include('gallery-selection.html') }}
{% endblock addlContent %}
