<div id="galleryselection" class="galleryselection invisible">
  <figure>
    <a href="" target="_blank"><img src="" alt=""></a>
    <figcaption></figcaption>
  </figure>
  <button class="close" onclick="closeGallerySelection(click);" aria-label="Close">X</button>
  <button class="galleryscroll left" onclick="scrollThroughImages('left')"><img src="/superman-left.png"></button>
  <button class="galleryscroll right" onclick="scrollThroughImages('right')"><img src="/superman-right.png"></button>
</div>