<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ pageTitle }}</title>
    <script src="/js/top-scripts.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106392745-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-106392745-2');
    </script>
    <link href="/styles/basicstyle.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet" />
    <link href="/favicon.ico" ref="/icon" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:site_name" content="Small Screen Superman" />
    <meta property="og:title" content="{{ pageTitle }}" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    {% if titleCard %}
      <meta property="og:image" content="{{ currentDir }}{{ titleCard.src }}" />
      <meta property="og:image:alt" content="{{ titleCard.alt }}" />
      <meta name="twitter:card" content="summary_large_image" />
    {% endif %}
    {% if description %}
      <meta name="description" content="{{ description }}" />
      <meta property="og:description" content="{{ description }}" />
    {% endif %}
    {% block head %}{% endblock %}
	</head>
	<body>
		<header>
      <div class="branding">
        <a href="/index.php"><img src="/ssslogo.png" alt="Small Screen Superman logo"></a>
      </div>
      <nav>
        <button id="nav-toggle" onclick="toggleMenu();" class="nav-toggle"><span id="open-menu">Open </span><span id="close-menu">Close </span>Menu</button>
        <ul class="mainnav" id="mainnav">
          <li>
            <a href='/blog'>Blog</a>
          </li>
          <li>
            <a href="/tv">TV Series Info</a>
            <ul>
              <li><a href="/tv/aos">Adventures of Superman</a></li>
            </ul>
          </li>
          <li>
            <a href="/fanworks">Fanworks</a>
            <ul>
              <li>
                <a href="/fanworks/graphics">Graphics</a>
              </li>
              <li>
                <a href="/superman-hangman/" target="_blank">Hangman Game</a>
              </li>
              <li>
                <a href="/fanworks/crosswords">Crosswords</a>
              </li>
            </ul>
          </li>
          <li>
            <a href='https://www.youtube.com/channel/UCv62THYKblbLpRLCcK9LyGA' target='_blank'>YouTube</a>
          </li>
          <li>
            <a href="/connect">Connect</a>
            <ul>
              <li><a href="mailto:storymakerechidna@gmail.com">Email</a></li>
              <li><a href="https://discord.gg/PWVA2zW" target="_blank">Discord</a></li>
              <li><a href="https://small-screen-superman.tumblr.com/" target="_blank">Tumblr</a></li>
              <li><a href="/connect/links.php" target="_blank">Links</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>
    <div class="contain-it-all">
      {% block beforeMain %}{% endblock %}
      <div class="main-container">
        {% if show == "Adventures of Superman" %}
        <nav class="breadcrumb" aria-label="Breadcrumbs">
          <a href="/tv/">TV Series Info</a>
          <span aria-hidden> > </span>
          <a href="/tv/aos/">Adventures of Superman</a>
          {% if filename == "gallery.php" %}
          <span aria-hidden> > </span>
          <a href="index.php">{{ epTitle }}</a>
          {% endif %}
        </nav>
        {% endif %}
        <main>
          {% block startOfMain %}{% endblock %}
          <h1 id="beginning">{{ contentTitle | raw }}</h1>
          {% if titleCard %}
          <img class="titlecard" src="{{ titleCard.src }}" alt="{{ titleCard.alt }}">
          {% endif %}
          {% block startOfContent %}{% endblock %}
          {{ content | replace({
            '[IMG_FULL:]': '<figure class="intext"><a href=',
            '[IMG_THUMB:]': ' target="_blank"><img src=',
            '[IMG_ALT:]': ' alt=',
            '[IMG_END]': '/></a><figcaption></figcaption></figure>'
          }) | raw }}
          {% block addlContent %}{% endblock %}
        </main>
      </div>
    </div>
    <footer><div>
      Small Screen Superman is a Superman fansite by Talia Joy DeGisi Hatfield. 
      Superman &copy; DC Comics. Site text &copy; Talia Hatfield. The Summary and Synopsis sections of pages are 
      released under the <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">CC BY-SA</a> 
      license, though other sections are not.<br />
      <a href="/">Site Home</a> - <a href="/blog">Blog Home</a>
    </div></footer>
		<script src="/js/main-scripts.js"></script>
	</body>
</html>		
