{% extends "layout.html" %}

{% block beforeMain %}
  <div class="side-controls"><p>Jump to:</p>
    <ul id="side-controls-list">
      <li><a href="#beginning">Beginning</a></li>
    </ul>
  </div>
{% endblock beforeMain %}

{% block addlContent %}

  {% if gallery %}
    <h2 id="gallery">Gallery</h2>
    <div class="gallery">
      {% for img in gallery %}
        <img 
          src="media/screencaps/thumbs/{{ img }}" 
          alt="{{ img[7:]|replace({'_': ' '})|trim('.png', 'right')|trim('.jpg', 'right') }}"
        />
      {% endfor %}
      <p>To see all {{ count(glob("media/screencaps/*.png")) }} images, go to the <a href="gallery.php">Gallery subpage</a>.</p>
    </div>
  {% endif %}

  {% if links %}
    <h2 id="links">Links</h2>
		<ul>
      {% for name, href in links %}
			  <li><a href="{{ href }}" target="_blank">{{ name | raw }}</a></li>
      {% endfor %}
		</ul>
  {% endif %}

  <div id="galleryselection" class="galleryselection invisible">
    <figure>
      <img src="" alt="">
      <figcaption></figcaption>
    </figure>
    <button class="close" onclick="closeGallerySelection(click);" aria-label="Close">X</button>
    <div class="galleryscroll left" onclick="scrollThroughImages('left')"><img src="/superman-left.png"></div>
    <div class="galleryscroll right" onclick="scrollThroughImages('right')"><img src="/superman-right.png"></div>
  </div>
{% endblock addlContent %}
