{% extends "layout.html" %}
{% set show = "Adventures of Superman" %} {# temporary? change if I add other shows #}
{% set sNum = 1 %} {# temporary - change when I add more seasons #}
{% set epNum = currentDir|regexMatchOnce('/ep[0-9]{1,2}/')|substr(2) %}
{% set overallEpNum = epNum %} {# temporary - change when I add more seasons #}
{% set pageTitle = "#{show}: #{epTitle} - Small Screen Superman" %}
{% set titleCard = {'src': 'media/screencaps/scr001_Titlecard.jpg', 'alt': "Titlecard for #{show}: #{epTitle}"} %}
{% set contentTitle = 
  "<span class='seriesname'>#{show}</span><br /> Season #{sNum} Episode #{epNum}: #{epTitle}" 
%}
{% set description =
  "Information, gallery, and more about #{epTitle}, episode #{epNum} of #{show}." 
%} {# improve later #}

{% block beforeMain %}
  <details class="side-controls"><summary>Jump to:</summary>
    <ul id="side-controls-list">
      <li><a href="#beginning">Beginning</a></li>
      {% if '<h2 id="summary">Summary</h2>' in content %}
        <li><a href="#summary">Summary</a></li>
      {% endif %}
      {% if '<h2 id="synopsis">Synopsis</h2>' in content %}
        <li><a href="#synopsis">Synopsis</a></li>
      {% endif %}
      {% if '<h2 id="notes">Notes</h2>' in content %}
        <li><a href="#notes">Notes</a></li>
      {% endif %}
      {% if '<h2 id="review">Review</h2>' in content %}
        <li><a href="#review">Review</a></li>
      {% endif %}
      {% if gallery %}
        <li><a href="#gallery">Gallery</a></li>
      {% endif %}
      <li><a href="#links">Links</a></li>
    </ul>
  </details>
{% endblock beforeMain %}

{% block startOfMain %}
  <nav class="ep-nav">
    {% if epNum > 1 %}<a href="/tv/aos/s1/ep{{ epNum - 1 }}">⏴ Previous Episode</a>{% else %}<div></div>{% endif %}
    {% if epNum < 26 %}<a href="/tv/aos/s1/ep{{ epNum + 1 }}">Next Episode ⏵</a>{% else %}<div></div>{% endif %}
  </nav>
{% endblock startOfMain %}

{% block addlContent %}

  {% if gallery %}
    <h2 id="gallery">Gallery</h2>
    <div class="gallery">
      {% for img in gallery %}
        <a href="media/screencaps/{{ img }}" target="_blank">
          <img 
            src="media/screencaps/thumbs/{{ img }}" 
            alt="{{ img[7:]|replace({'_': ' '})|replace({'.png': '', '.jpg': '', 'COLON': ':', "''": '"'})  }}"
          />
        </a>  
      {% endfor %}
    </div>
    <p>To see all {{ count(glob("media/screencaps/*.*")) }} images, go to the <a href="gallery.php">Gallery subpage</a>.</p>
  {% endif %}

    <h2 id="links">Links</h2>
		<ul>
      {% if show %}
        {% if imdbId %}
          <li><a href="https://www.imdb.com/title/{{ imdbId }}" target="_blank">IMDb Page</a></li>
        {% endif %}
        {% if tacId %}
          <li><a href="http://www.jimnolt.com/{{ tacId }}.htm" target="_blank">
            <i>The Adventures Continue</i> Review by Bruce Dettman
          </a></li>
        {% endif %}
        {% if not noSH %}
        {# noSH only exists because there's a discrepancy between our numbering and SH's.
        Eventually, a better solution will be found. #}
        <li><a href="https://www.supermanhomepage.com/tv/tv.php?topic=reviews/aos-ep0{{ overallEpNum|addZeroIfNeeded }}" target="_blank">
          <i>Superman Homepage</i> Review by James Lantz
        </a></li>
        {% endif %}
        {% if not noTranscript %}
        <li><a href=
          "https://subslikescript.com/series/Adventures_of_Superman-44231/season-{{ sNum }}/episode-{{ epNum }}-{{ epTitle|replace({' ': '_'}) }}" 
          target="_blank">Transcript</a></li>
        {% endif %}
      {% endif %}
      {% for name, href in links %}
			  <li><a href="{{ href }}" target="_blank">{{ name | raw }}</a></li>
      {% endfor %}
		</ul>

  {{ include('gallery-selection.html') }}
{% endblock addlContent %}
